{{set . "title" "Home"}}
{{set . "header" "About the Cloud Native Computing Team"}}
{{template "header.html" .}}
{{template "navigation.html" .}}



<div class="container section">
  <h2>About Us</h2>
  <p>
    The Samsung SDS Cloud Native Computing Team's (CNCT) mission is to help companies in adoption of Cloud Native development principles and improve their organizational velocity. The CNCT is proud to be a <a href="https://goo.gl/qRuKBw">Platinum Member</a> of the Cloud Native Computing Foundation (CNCF) and an active participant and contributor to Kubernetes, the leading container orchestration platform.
  </p>
  <p>
    Adoption of Cloud Native principles will be one of the more challenging changes an organization makes. Outside expertise and resources are often needed to enable a successful transformation. CNCT provides expertise to product, operations, and development teams, inside and outside of Samsung.
  </p>
  <p>
    CNCT is part of <a href="http://www.samsungsds.com/us/en/">Samsung SDS</a>.
  </p>
</div>

{{template "footer.html" .}}
