{{set . "title" "Home"}}
{{set . "header" "Welcome to the Cloud Native Computing Team"}}
{{template "header.html" .}}
{{template "navigation.html" .}}



<div class="container section">
  <h2>Instructions</h2>
  <p>Click the below <strong>Authorize</strong> button to first login into your Github account and allow this service to create tasks on your behalf.</p>
  <p>On the next page, you will be able to choose from a selection of tracks to create a task board
  tailored to your use.</p>
  <p>
    <a class="btn btn-lg btn-primary blue" href="/auth">Authorize</a>
  </p>
</div>

  <div class="container">
    <div class="row">
      <div class="span6">
        {{template "flash.html" .}}
      </div>
    </div>
  </div>

<div role="main">

</div>

{{template "footer.html" .}}
