{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container theme-showcase" role="main">

<header class="jumbotron" style="background-color:#80f2db">
  <div class="container">
    <div class="row">
      <h1>Tracks Available</h1>
      <p>We have several different onboarding tracks, each tailored to the specific user case.</p>
    </div>
  </div>
</header>

<div class="page-header">
  <h1>Instructions</h1>
</div>

<p>
    Please choose a Track for your project.
</p>

<form action="/workload" method="GET">
    <input type="checkbox" name="appDev" value="app_dev"/>I'm an application developer<br/>
    <input type="checkbox" name="clusterOp" value="cluster_op" />I'm a cluster operator<br/>
    <input type="checkbox" name="cnctHire" value="cnct_hire"/>I'm a new hire at the amazing CNCT<br/>
    <input type="submit" value="Submit" />
</form>

<!-- <form action="/action_page.php" method="get">
    <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
    <input type="submit" value="Submit">
  </form> -->
<!-- <p>
    <a class="btn btn-lg btn-primary" href="/workload">CNCT hire</a>
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="/workload">app-dev</a>
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="/workload">cluster-operator</a>
  </p>
</p> -->

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

</div>

{{template "footer.html" .}}
