<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <!-- Favicon support for all devices-->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
    <link rel="manifest" href="/public/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <div class="container">
    <nav>
      <div class="nav-wrapper">
        <a href="index.html" class="internal-link"><img class="logo left" src="/public/img/logo-samsung.jpg" alt="Samsung SDS CNCT"></a>
        <a href="#" data-activates="mobile-view" class="button-collapse right"><i class="material-icons blue-text">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile-view">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <body>
